   @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@700&family=Lato&display=swap');
   :root{
      --main-color:rgba(31, 195, 254, 0.961);
      --text-color:rgba(255, 254, 254, 0.966);
      --other-color: rgb(4, 69, 246);
      --second-color:rgb(31, 38, 41);
      --dark-color: rgb(6, 4, 30);
        --success-color: #5cb85c;
  --error-color: #d9534f;
   }

  *{
   box-sizing: border-box;
   padding:0;
   margin:0;
  }
 
 body{
   font-family:'Lato', sans-serif;
   color: var(--text-color);
   line-height:1.6;
 }

 ul{
   list-style-type: none;
 }

a{
   text-decoration:none;
   color: var(--text-color);
}

h1,
h2{
   font-weight: 300;
   line-height:1.2;
   margin:10px 0;
}

p{
   margin:10px 0;
}

img{
   width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}
/* Navbar */
.navbar{
   background-color:var(--main-color);
   height: 90px;
   overflow: hidden;
}
.navbar .flex{
   justify-content: space-between;
}
.logo {
   font-family: 'Dancing Script', cursive;
  font-weight:bolder;
  font-size: 30px;
}
.navbar ul {
   display: flex;
}

.navbar ul a {
     padding:15px;
}


 .nav_bar li{
  position: relative;
 }
 .nav_bar a::after{
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.8s;
}

.nav_bar a:hover::after,.nav_bar .active::after{
  width: 93%;
}

/* Showcase  */
.showcase{
   background-color: var(--main-color);
  padding: 20px 0;
  height: 400px;
  position: relative;
}


.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-text h1{
    font-size: 37px;
    font-weight: lighter;
}

.showcase-text p{
   margin: 20px 0;
}

.showcase .grid{
   overflow: visible;
   gap: 20px;
   grid-template-columns: 55% auto;
}

.showcase-form {
   position: relative;
   top: 60px;
   height: 370px;
   width: 400px;
   padding: 40px;
   z-index: 100;
   justify-self: flex-end;
   animation: slideInFromRight 1s ease-in;
 }

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
   border: 0;
   border-bottom: 1px var(--main-color) solid;
   width: 100%;
   font-size: 15px;
}

.showcase-form input:focus{
    outline: 0;
}
.showcase-form .form-control{
     margin: 30px 0;
     padding: 0 20px;
     width: 100%;
}

.showcase-form h2{
   padding: 20px;
   font-size: 20px;
}

.showcase-form .btn-primary{
   margin: 0px 20px;
}

.showcase::before,
.showcase::after{
   content: '';
   position: absolute;
   height: 100px;
   right: 0;
   left: 0;
   bottom: -60px;
   background: #fff;
   transform: skewY(-3deg);
}


/* stats */
.stats {
   padding-top: 120px;
   color: var(--second-color);
   animation: slideInFromBottom 1s ease-in;
 }
 
 .stats-heading {
   max-width: 500px;
   margin: auto;
 }
 
 .stats .grid h3 {
   font-size: 35px;
 }
 
 .stats .grid p {
   font-size: 20px;
   font-weight: bold;
 }
 
 
 /* cli */
.cli .grid{
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child{
   grid-column: 1/span 2;
   grid-row: 1/span 2;
}


/* cloud */
.cloud .grid {
   grid-template-columns: 4fr 3fr;
 }

 /* languages */

  .languages h2{
   color: var(--second-color)
  }
 .languages .flex {
   flex-wrap: wrap;
 }

 .languages .card {
   text-align: center;
   margin: 18px 10px 40px;
   transition: transform 0.2s ease-in;
 }
 
 .languages .card h4 {
   font-size: 20px;
   margin-bottom: 10px;
 }

 .languages .card:hover {
   transform: translateY(-15px);
 }
 

 /* features */

  .features-head img,
  .docs-head img{
    width: 200px;
    justify-self: flex-end;
  }

   .features-head h3{
        font-weight: lighter;
   }
    

   .features-sub-head img {
    width: 300px;
    justify-self: flex-end;
  }
   
  .features-main .grid{
    padding: 30px;
  } 
   
  .features-main .grid > *:first-child {
    grid-column: 1 / span 3;
  }
  
  .features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
  }
  
  .features-main .card > i {
    margin-right: 20px;
  }
  
/* Docs */
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

code, pre{
  background-color: #333;
  color:var(--text-color);
  padding: 10px;

}
   
 /* footer */
    .footer li a:hover {
      color: var(--main-color);}
      
 .footer .social a{
   padding: 10px ;
 }

 .social .fa-github:hover{
   color: rgb(45, 42, 42);
 }

 .social .fa-facebook:hover{
   color: var(--other-color);
 }

 .social .fa-instagram:hover{
   color: palevioletred;
 }

 .social .fa-twitter:hover{
   color: var(--main-color);
 }
  
 /* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}
 /* tables and under */

 @media (max-width: 768px){
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 1;
 }

     .showcase{
      height: auto;
     }

     .showcase-text {
      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
    }
    
    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
    .features-head,
    .features-sub-head,
    .docs-head {
      text-align: center;
    }
  
    .features-head img,
    .features-sub-head img,
    .docs-head img {
      justify-self: center;
    }
  
    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
      grid-column: 1;
    }
 }


 /* mobiles */

@media (max-width: 500px) {
          .navbar{
            height: 110px;
          }

          .navbar .flex{
              flex-direction: column;
          }

          .navbar ul {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.1);
          }

          .showcase-form {
            width: 300px;
          }

}